test/test_comments_fixtures/proj_comments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  elementFormDefault="qualified">

  <xs:element name="comments">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="project" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="comment">
    <xs:complexType>
      <xs:attribute name="who" type="xs:string"/>
      <xs:attribute name="when" type="xs:string"/>
      <xs:attribute name="id" type="xs:string"/>
      <xs:attribute name="parent" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
